@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Use razor code to set the text in the head tag
    ViewData["Title"] = "Jaeda's Webpage";
}

<!--Create an h1 tag that contains my first name-->
<h1>Jaeda Charlton</h1>
<!--Attach an image of me doing something I enjoy-->
<img src="img/IMG_4128.jpg" height="300" width="300">
<br />

<!--Create a paragraph tag explaining what I hope to get out of this class-->
<p>What I hope to get out of this class: I love programming, but I have never learned a strongly typed language. I hope to gain a better understanding of how these languages work, and gain the skills necessary to learn more in the future.</p>
<br />

<!--Create a list of the jobs I am most interested in having after graduation-->
<p>Top three jobs I am most interested in pursuing</p>
<ul>
    <li>#1 Cyber Security</li>
    <li>#2 Data Analytics/Machine learning</li>
    <li>#3 Any combination of those three things</li>
</ul>
<br />

